/* Setup */
* {
  --vguicord-steam-logo: url(https://dom1torii.github.io/VGUICord/src/assets/steam-logo.svg) !important;
  --vguicord-steam-logo-text: url(https://dom1torii.github.io/VGUICord/src/assets/steam-logo-text.png) !important;
  --vguicord-box-shadow:
    0 -1px 0 var(--vguicord-light-border), 1px 0 0 var(--vguicord-dark-border),
    0 1px 0 var(--vguicord-dark-border), -1px 0 0 var(--vguicord-light-border);

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;

  --font-primary: var(--font), sans-serif !important;

  --text-brand: var(--vguicord-accent) !important;

  --text-normal: var(--vguicord-text) !important;
  --text-primary: var(--vguicord-text) !important;
  --text-tertiary: var(--vguicord-secondary-text) !important;
  --text-muted: var(--vguicord-secondary-text) !important;
  --chat-text-muted: var(--vguicord-secondary-text) !important;
  --channels-default: var(--vguicord-secondary-text) !important;
  --header-secondary: var(--vguicord-secondary-text) !important;
  --header-primary: var(--vguicord-text) !important;

  --interactive-normal: var(--vguicord-secondary-text) !important;
  --interactive-hover: var(--vguicord-text) !important;

  --icon-primary: var(--vguicord-text) !important;
  --icon-secondary: var(--vguicord-secondary-text) !important;
  --icon-tertiary: var(--vguicord-secondary-text) !important;
  --channel-icon: var(--vguicord-secondary-text) !important;

  --modal-background: var(--discord-16-bg) !important;

  --background-base-low: var(--vguicord-bg) !important;
  --background-base-lower: var(--vguicord-bg) !important;
  --background-base-lowest: var(--vguicord-bg) !important;

  --background-surface-high: var(--vguicord-bg) !important;
  --background-surface-higher: var(--vguicord-bg) !important;
  --background-surface-highest: var(--vguicord-bg) !important;

  --background-mod-subtle: transparent !important;

  --chat-background-default: var(--vguicord-secondary-bg) !important;
  --input-background-default: var(--vguicord-secondary-bg) !important;

  --control-primary-background-default: var(--vguicord-bg) !important;
  --control-primary-border-default: var(--vguicord-light-border)
    var(--vguicord-dark-border) var(--vguicord-dark-border)
    var(--vguicord-light-border) !important;

  --control-secondary-background-default: var(--vguicord-bg) !important;
  --control-secondary-border-default: var(--vguicord-light-border)
    var(--vguicord-dark-border) var(--vguicord-dark-border)
    var(--vguicord-light-border) !important;

  --control-overlay-secondary-background-default: var(--vguicord-bg) !important;
  --control-overlay-primary-background-default: var(--vguicord-bg) !important;
  --control-overlay-primary-background-hover: var(--vguicord-bg) !important;
  --control-overlay-primary-text-default: var(--vguicord-text) !important;
  --control-overlay-primary-text-hover: var(--vguicord-text) !important;

  --control-overlay-secondary-background-active: var(--vguicord-bg) !important;

  --control-brand-foreground: var(--vguicord-accent) !important;

  --badge-expressive-background-default: var(--vguicord-accent) !important;

  --user-profile-overlay-background: var(--vguicord-bg) !important;

  --card-background-default: var(--vguicord-bg) !important;

  --radio-background-selected-default: var(--vguicord-secondary-bg) !important;
  --radio-background-selected-hover: var(--vguicord-secondary-bg) !important;
  --radio-thumb-background-active: var(--vguicord-accent) !important;
  --radio-background-default: var(--vguicord-secondary-bg) !important;
  --radio-border-default: var(--vguicord-light-border) !important;
  --radio-border-selected-default: var(--vguicord-light-border) !important;

  --slider-track-background: var(--vguicord-secondary-bg) !important;

  --checkbox-background-default: var(--vguicord-secondary-bg) !important;
  --checkbox-background-selected-default: var(
    --vguicord-secondary-accent
  ) !important;
  --checkbox-background-selected-hover: var(
    --vguicord-secondary-accent
  ) !important;

  --brand-500: var(--vguicord-secondary-accent) !important;
  --control-brand-foreground-new: var(--vguicord-accent) !important;
  --background-brand: var(--vguicord-accent) !important;
  --badge-background-brand: var(--vguicord-secondary-accent) !important;

  --reaction-background-reacted-default: color-mix(
    in srgb,
    var(--vguicord-secondary-accent) 35%,
    transparent
  ) !important;
  --reaction-border-reacted-default: var(--vguicord-accent) !important;

  --custom-poll-style-vote-percentage: color-mix(
    in srgb,
    var(--vguicord-secondary-accent) 35%,
    transparent
  ) !important;

  --interactive-background-selected: var(
    --vguicord-secondary-accent
  ) !important;
  --background-feedback-notification: var(--vguicord-accent) !important;
  --badge-notification-background: var(--vguicord-secondary-accent) !important;

  --modal-background: var(--vguicord-bg) !important;
  --modal-footer-background: var(--vguicord-bg) !important;

  --custom-input-focus-border-color: var(--vguicord-accent) !important;

  --spine-default: var(--vguicord-secondary-bg) !important;

  --custom-cutout-radius: 0 !important;

  --space-xs: 5px !important;

  --custom-app-top-bar-height: 26px !important;
}

@font-face {
  font-family: "ArialPixel";
  src: url(https://raw.githubusercontent.com/dom1torii/vguicord/refs/heads/main/src/assets/ArialPixel.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@property --rounded-avatars {
  syntax: "true | false";
  inherits: false;
  initial-value: false;
}

@property --rounded-servers {
  syntax: "true | false";
  inherits: false;
  initial-value: false;
}

@property --custom-status {
  syntax: "true | false";
  inherits: false;
  initial-value: true;
}

@property --custom-scrollbar {
  syntax: "true | false";
  inherits: false;
  initial-value: true;
}

@property --steam-logo {
  syntax: "true | false";
  inherits: false;
  initial-value: true;
}

@property --disable-avatar-deco {
  syntax: "true | false";
  inherits: false;
  initial-value: false;
}

@property --disable-nameplates {
  syntax: "true | false";
  inherits: false;
  initial-value: false;
}

@property --disable-profile-effects {
  syntax: "true | false";
  inherits: false;
  initial-value: false;
}

@property --disable-profile-frames {
  syntax: "true | false";
  inherits: false;
  initial-value: false;
}

* {
  border-radius: 0 !important;
  transition: none !important;
}

button:disabled {
  color: var(--vguicord-text-disabled) !important;
  text-shadow: var(--vguicord-text-disabled-shadow) !important;
}

::selection {
  background-color: var(--vguicord-secondary-accent);
}

/* Remove borders */
.container__9293f, /* Server top bar */
.header_f37cb1, /* Server header */
.sidebarList__5e434, /* Channel list */
.container_c8ffbb /* Server member list container */ {
  border: none !important;
}

/* Apply regular background */
.buttonWrapper__24af7.attachButtonInner__0923f, /* Message attachment button */
.buttons__74017 > div, /* Right side message text area buttons */
div[aria-label="Poll options"] > div, /* Poll option buttons */
.addFriendInputWrapper__72ba7, /* Wrapper in add friend tab */
.systemBar_c38106 .winButton_c38106, /* Settings window buttons */
.utilButtonWrapper_b5b7aa /* Quest top right buttons */ {
  background-color: var(--vguicord-bg) !important;
}

/* Apply secondary background */
.scroller__629e4, /* Channels bar */
.members_c8ffbb, /* Server members list */
.member_c8ffbb, /* Singular member */
.embedFull__623de, /* Embeds */
.pollContainer_b7e1cb, /* Polls */
.container_f69538, /* Poll results? */
.input__72ba7, /* Enter a username input in add friend */
.friendNoteTextArea__72ba7, /* Add friend optional input */
.switchIndicator_a28278, .vc-switch-indicator, /* Switches */
.quote__122e4, /* Quotes */
code /* code */ {
  background-color: var(--vguicord-secondary-bg) !important;
}

/* Apply accent */
.item__58105 /* Server indicators */ {
  background-color: var(--vguicord-accent) !important;
}

/* Apply regular border */
.content__5e434, /* Main content */
.folderGroupBackground__48112, /* Open folder group*/
.content_f75fb0 > .chatContent_f75fb0, /* Chat box */
.panels__5e434, /* User panel */
.buttons__37e49 button, /* User panel buttons */
.actionButtons_e131a9 button, /* User panel VC buttons */
.clickable__9293f, /* Top channel bar buttons */
.headerContent_f37cb1, /* Server header */
.tutorialContainer__1f388 .wrapper_cc5dd2, /* Home button */
.role_af3987, /* Profile roles */
.bannerButton_fb7f94, /* Profile banner buttons */
.progressContainer__0d0f9, /* Server boost progress */
.popover_f84418, /* Some popovers */
.menu_c1e9c4, /* Some popout menus */
.menu_c1e9c4 div[role="group"] .item_c1e9c4, /* Popout group items */
.customItem_c1e9c4, /* Popout emotes */
.contentWrapper__08434, /* GIFs / Stickers / Emojis */
.navButton__08434, /* GIFs etc. navigation buttons */
.reactionTooltip_bbcccb, /* Reaction tooltips */
.buttonWrapper__24af7.attachButtonInner__0923f, /* Message attachment button */
#popout_3067 .item_c1e9c4, /* Message attachments popout buttons */
.buttons__74017 > div, /* Right side message text area buttons */
div[aria-label="Poll options"] > div, /* Poll option buttons */
.card_dc2e44, /* Some cards, for example: channel settings -> integrations -> webhooks*/
.card_aae012, /* Some other cards like "Add your first app" on top of the text channel */
.card_a2332b, /* Some other cards like nitro tiers */
.container__39957, /* Send a gift "1 gift away container" thingy */
.closeButton_c2b141, /* Close button in settings and other places */
.overlay_c0bea0, /* Profile buttons */
.container__62dd3, /* Some profile cards, for example: favorite game */
.tabBar__133bf > div, /* Friends tabs */
.actionButton_f8fa06, /* Friend action buttons */
.addFriendInputWrapper__72ba7, /* Wrapper in add friend tab */
.bar__7aaec, /* "New Unreads" thingy */
.reactionBtn__23977, /* React button */
.reaction__23977:has([aria-pressed="false"]), /* Reactions (non reacted) */
.nonVisualMediaItem_f4758a, /* Text file message container */
.mainCard_f369db:not(.header_f369db), /* Forum cards */
.pill_a2c9e8, /* Forum tag pills */
.tagsButton_f369db, /* Forum tags dropdown */
.sortDropdown_f369db, /* Forum sort dropdown */
.container__5808f, /* Forum tags popup? */
.container__01ae2, /* VC Chat */
.utilButtonWrapper_b5b7aa, /* Quest top right buttons */
.root__49fc1, /* Modal root? */
.messagePreviewContainer_f96002, /* Message previews */
.message_fd14e0, /* Delete message preview */
.container__8a031, /* Start conversation */
.topPill_aa8da2 > div, /* Message requests tabs */
.preview__6b741, /* Accessibility preview */
.box__376cb, /* Inbox messages */
.contentHeader_e9e3ed, /* Settings header */
.sidebar__409aa, /* Settings sidebar */
.contentBody_e9e3ed, /* Settings content */
.popout_a16aea, /* Voice devices dropdown */
.selectDropdown__0edde, /* Other settings dropdowns for example noise suppression */
.optionButtonWrapper__270d7:not(:has([aria-pressed="true"])), /* Server customization options */
.container_dca174, /* Server profile preview */
.sidebar__23e6b, /* Server settings sidebar */
.pillContainer__9e06a > div, /* Screenshare top buttons */
.sourceTypeButtons_b23ee9 > div, /* Screenshare source buttons */
.autocomplete__6b0e0, /* Autocomplete popup */
.buttonSection__1405b, /* VC buttons */
.disconnect_f1ceac, /* VC disconnect button */
.contentWrapper__9c62c, /* Apps popup */
.sectionRowsContentContainer__927fc > div, /* App in apps popup */
.card__88264, /* Event cards */
.linkButton__972a0, /* Home left menu buttons */
:where(.outer_c0bea0).user-profile-sidebar.user-profile-sidebar-redesign, /* User profile sidebar */
.bottomBar__0f481, /* Unread messages popup */
.notice__6e2b9, /* Update and other notices */
.button__6e2b9, /* Notice button */
.upload_aa605f, /* Message attachment */
.wrapper_f7ecac, /* Message attachment actions */
.popover_d6f39b, /* Streaming popover when hovering user in vc */
.searchResultsWrap_a98f3b, /* Server messages search container */
.searchResult__80bf8, /* Server messages search result */
.container__16eb0, /* Server message search filters and history */
.visual-refresh .vc-plugins-info-card, /* Vencord base cards */
.visual-refresh .vc-plugin-stats, /* Vencord plugin stats */
.vc-card-primary, /* Vencord cards */
.vc-addon-card, /* Vencord plugin cards */
.authBox__921c5, /* Login box */
.list__920b8, /* Login users list */
.button_a22cb0, /* Login buttons */
.backForwardButtons__63abb > div, /* Back/forward buttons (top left) */
.winButtons_c38106 > div /* Window buttons */ {
  border: 1px solid !important;
  border-color: var(--vguicord-light-border) var(--vguicord-dark-border)
    var(--vguicord-dark-border) var(--vguicord-light-border) !important;

  /* for buttons invert the border on :active (idk how well this really works, havent tested everything) */
  /* probably needs more matches or something */
  &:is(button, [role="button"], [class*="button"]):active {
    border-color: var(--vguicord-dark-border) var(--vguicord-light-border)
      var(--vguicord-light-border) var(--vguicord-dark-border) !important;
  }
}

/* Apply secondary border */
.scroller__629e4, /* Channels bar */
.members_c8ffbb, /* Server members list */
.searchBar_c322aa, /* Message search bar container */
.channelTextArea__74017, /* Message text area */
.pollContainer_b7e1cb, /* Polls */
.container_f69538, /* Poll results? */
.wrapper__72c38, /* Some input wrappers*/
.friendNoteTextArea__72ba7, /* Add friend optional input */
.switchIndicator_a28278, .vc-switch-indicator, /* Switches */
.header_f369db, /* Forum search box */
.checkboxIndicator__714a9, /* Checkboxes */
.input_ac6cb0, /* Start conversation input */
code, /* code */
.input__0ed4f /* Login inputs */ {
  border: 1px solid !important;
  border-color: var(--vguicord-dark-border) var(--vguicord-light-border)
    var(--vguicord-light-border) var(--vguicord-dark-border) !important;
}

/* Special border just for embeds */
.embedFull__623de /* Embeds */ {
  border-top: 1px solid var(--vguicord-dark-border) !important;
  border-right: 1px solid var(--vguicord-light-border) !important;
  border-bottom: 1px solid var(--vguicord-light-border) !important;
}

/* Separator */
.guildSeparator__252b6, /* Servers and home separator */
.sectionDivider_e6b769, /* Home dividers */
.sectionDivider__629e4, /* Channels dividers */
.divider__1de9c, /* Settings dividers */
[data-list-item-id^="chat-messages___divider"]:has(.content__908e2):not([aria-label^="new"]), /* Message date separator */
.divider_d06995, /* Inbox message date separator */
.separator_aa8da2, /* Server settings separator */
.tabs__50387:after, /* VC connection separator */
.divider__971b5, /* Server message search filters and history separator */
.vc-divider /* Vencord dividers */ {
  height: 0 !important;
  background-color: transparent !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 1px solid var(--vguicord-dark-border) !important;
  border-bottom: 1px solid var(--vguicord-light-border) !important;
}

/* Separator using after */
.section__409aa, /* Settings categories */
.divider__13533 /* Autocomplete separator */ {
  &::after {
    content: "";
    height: 0;
    width: 100%;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 1px solid var(--vguicord-dark-border) !important;
    border-bottom: 1px solid var(--vguicord-light-border) !important;
    margin-block: 5px;
  }
}

/* Vertical separator */
.winButtons_c38106::before, /* Left of win buttons */
.separator__841c8 /* Left of reply close button */ {
  width: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-left: 1px solid var(--vguicord-dark-border) !important;
  border-right: 1px solid var(--vguicord-light-border) !important;
}

/* Apply regular box shadow */
.folderButton__48112[aria-expanded="false"] /* Closed folder */ {
  box-shadow: var(--vguicord-box-shadow) !important;
}

/* Remove border */
.footer__4d95d, /* i forgor */
.searchBar_e6b769, /* "Find or start a conversation" */
.container__0d0f9, /* Boost goal */
.section__409aa, /* Settings categories */
.channelHeader__5d903 {
  border: none !important;
}

/* Apply margin to separate the content */
.content__5e434, /* Main content */
.scroller__629e4, /* Channels bar */
.members_c8ffbb, /* Server members list */
.sidebar__409aa, /* Settings sidebar */
.sidebar__23e6b, /* Server settings sidebar */
.notice__6e2b9, /* Update and other notices */
.searchResultsWrap_a98f3b /* Server messages search container */ {
  margin: 5px !important;
}

/* Only top right bottom margin */
.container__01ae2, /* VC Chat */
.contentHeader_e9e3ed /* Settings header */ {
  margin: 5px 5px 5px 0px;
}

/* Only bottom and right margin */
.contentBody_e9e3ed /* Settings content */ {
  margin: 0 5px 5px 0;
}

/* Only top and bottom margin */
.content_f75fb0 .chatContent_f75fb0, /* Chat box */
.tutorialContainer__1f388 .wrapper_cc5dd2 /* Home button */ {
  margin-block: 5px !important;
}

/* Gap */
.backForwardButtons__63abb, /* back forward buttons (top left) */
.sectionRowsContentContainer__927fc /* App lists in apps popup */ {
  gap: 5px;
}

/* Remove margin */
.search__49676 /* Message search bar */ {
  margin: 0 !important;
}

/* Apply padding to separate content */
.container__9293f, /* Top channel bar */
.aside_f58343 /* User profile sidebar */ {
  padding: 5px !important;
}

/* Apply accent text color */
.container__13cf1 /* Different headers, adds some diversity? */ {
  color: var(--vguicord-accent);
}

/* Unround */
.outer_ab8609:after, .outer_ab8609:before /* Profile bubble */ {
  border-radius: 0;
}

/* Fix channels bar going under the user panel */
.container__2637a /* Channels bar container */ {
  padding-bottom: 62px !important; /* User panel (56px) + border (1px) + margin (5px) */
}

/* Match message search bar width with member list */
.search__49676 /* Message search bar */ {
  flex: 0 1 var(--custom-member-list-width) !important;
  width: var(--custom-member-list-width) !important;
  max-width: var(--custom-member-list-width) !important;
}

/* Fix tooltips */
.caretIcon_fa450d .caretStroke_fa450d {
  stroke: var(--vguicord-dark-border);
}
.tooltip_fa450d {
  box-shadow:
    inset 1px 1px 0 0 var(--vguicord-light-border),
    inset -1px -1px 0 0 var(--vguicord-dark-border),
    var(--shadow-high);
}

/* Fix user panel settings button */
button.button__67645 {
  height: auto;
}

/* Separate audio buttons */
.audioButtonParent__5e764 {
  gap: 3px !important;
}

/* Disable server list scrollbar */
.scroller_ef3116::-webkit-scrollbar {
  display: none !important;
}

/* Make vc user count styling less fancy */
.wrapper__260e1 {
  background-color: transparent !important;
  border: none !important;
  & > span {
    background-color: transparent !important;
    color: var(--vguicord-accent) !important;
    &::after {
      border: none !important;
    }
  }
  & > .users__260e1::after {
    content: "/";
    margin-left: 5px;
  }
}

/* Fix popoup spacing */
.menu_c1e9c4 div[role="group"]:not(.wrapper_f563df), /* Groups that are not emotes */
.submenu_c1e9c4 > .scroller_c1e9c4 /* Popoup submenu with emotes */ {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu_c1e9c4 /* Popout menu */ {
  & .wrapper_f563df /* Emote group */ {
    padding-inline: 0 !important;
  }
}

/* Fix attachments popout spacing */
#popout_3067 .scroller_c1e9c4 /* Message attachments popout buttons container */ {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Fix folders having extra space with space-xs set to 5 instead of 8 */
.folderGuildsList__48112 {
  --space-xs: 8px !important;
}

/* Remove friend list dividers */
.content_d125d2 > .divider_cc6179 {
  display: none;
}

/* Fix indentation for username and optional inputs in add friend */
.input__72ba7,
.friendNoteTextArea__72ba7 {
  padding-left: 10px;
  box-sizing: border-box;
}
/* Also remove border */
.friendNoteTextContainer__72ba7 {
  border: none !important;
}

/* Unround switch thumb and change its color */
.switchIndicator_a28278 rect,
.vc-switch-indicator rect /* Vencord switch */ {
  rx: 0;
  fill: var(--vguicord-accent) !important;
}

/* Disable vc chat box shadow thing on top */
.chat_ee72fa::before {
  box-shadow: none;
}

/* Disable box shadow */
.message_fd14e0, /* Delete message preview */
:where(.outer_c0bea0).user-profile-sidebar.user-profile-sidebar-redesign, /* User profile sidebar */
.bottomBar__0f481, /* Unread messages popup */
.wrapper_f7ecac, /* Message attachment actions */
.popover_d6f39b /* Streaming popover when hovering user in vc */ {
  box-shadow: none;
}

/* Remove stickers rounding */
.inspectedIndicator_c6367b {
  mask: none;
}

/* More spacing for left side buttons in home */
.container_e45859:not(.dm__972a0) {
  padding: 5px 0;
}

/* Fix banner size */
.bannerImg_f37cb1 {
  width: calc(var(--custom-guild-sidebar-width) - 84px) !important;
  margin: 6px;
}

/* Remove banner background and shadow */
.animatedContainer_f37cb1 {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* Fix server banner being below the channel list */
.container_f37cb1 {
  z-index: 2 !important;
}

/* Disable server banner hover blur */
.bannerVisible_f37cb1 .headerGlass_f37cb1 {
  backdrop-filter: none !important;
  border: none !important;
}

/* Disable login screen background */
.artwork_eb4069 {
  display: none !important;
}

/* Add top padding */
.base__5e434 /* Everything container */ {
  padding-top: 5px;
}

/* Fix window buttons position in settings */
.systemBar_c38106 {
  margin-top: 5px;
}

/* Fix title bar spacing */
.bar_c38106 {
  padding-right: 5px !important;
}

@container style(--rounded-avatars: true) {
  /* Round status indicators */
  .wrapper__44b0c:has(rect)::after {
    border-radius: 50%;
  }

  /* Could be stupid but i couldn't find a better way to remove status indicator mask here */
  .svg__44b0c > foreignObject {
    mask: none;
    clip-path: circle(50%);
  }
}

@container style(--rounded-avatars: false) {
  .svg__44b0c > foreignObject {
    mask: none !important;
  }

  .overlay__75742:after {
    border-radius: 0 !important;
  }
}

@container style(--rounded-servers: false) {
  .svg_cc5dd2 > mask /* Server mask */ {
    display: none;
  }

  /* Only apply box shadow to server icons here because it would look weird if they're rounded */
  .listItem__650eb > span:has(.blobContainer_e5445c) /* Items that are not home buttom (servers) */ {
    box-shadow: var(--vguicord-box-shadow);
  }
}

@container style(--custom-status: true) {
  /* Move avatar decorations above the status */
  .avatarDecorationContainer__44b0c {
    z-index: 1;
  }

  /* Hide original status indicators */
  [class^="mask_"] rect,
  [class^="mask_"] circle,
  [class^="mask_"] svg {
    display: none;
  }

  /* Remove status indicator mask from decorations */
  .avatarDecorationContainer__44b0c > foreignObject {
    mask: none !important;
  }

  /* Re-add status indicators */
  .wrapper__44b0c:has(rect)::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  /* Online + Online Mobile */
  .wrapper__44b0c:has(.svg__44b0c rect[fill="#45a366"])::after,
  .container__1ce5d:has(
      > .mask_a423bd
        .status_a423bd[style="background-color: rgb(69, 163, 102);"]
    )::after {
    background: transparent !important;
    outline: 2px solid #57cbde;
  }

  /* Do not disturb */
  .wrapper__44b0c:has(.svg__44b0c rect[fill="#da3e44"])::after {
    background: transparent !important;
    outline: 2px solid #ff4133;
  }

  /* Idle */
  .wrapper__44b0c:has(.svg__44b0c rect[fill="#ffc04e"])::after {
    background: transparent !important;
    outline: 2px solid #f58b05;
  }

  /* Offline */
  .wrapper__44b0c:has(.svg__44b0c rect[fill="#84858d"])::after {
    background: transparent !important;
    outline: 2px solid #898989;
  }

  /* Streaming */
  .wrapper__44b0c:has(.svg__44b0c rect[fill="#9147ff"])::after {
    background: transparent !important;
    outline: 2px solid #9147ff;
  }
}

@container style(--custom-scrollbar: true) {
  * {
    --scrollbar-auto-thumb: var(--vguicord-bg) !important;
    --scrollbar-thin-thumb: var(--vguicord-bg) !important;
  }

  ::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--vguicord-bg) !important;
    border: 1px solid !important;
    border-color: var(--vguicord-light-border) var(--vguicord-dark-border)
      var(--vguicord-dark-border) var(--vguicord-light-border) !important;
    border-radius: 0 !important;
  }
}

@container style(--steam-logo: true) {
  /* Replace home button */
  .tutorialContainer__1f388 .wrapper_cc5dd2 > svg {
    opacity: 0 !important;
  }

  .tutorialContainer__1f388 .wrapper_cc5dd2::after {
    content: var(--vguicord-steam-logo) !important;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  /* Replace discord logo on login screen */
  .characterBackground_eb4069 {
    /* Remove discord logo */
    & > .logoWithText_eb4069 {
      opacity: 0 !important;
    }

    /* Add steam logo */
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 20px;
      width: 200px;
      height: 100px;
      background: var(vguicord-steam-logo-text) center center / contain
        no-repeat;
    }
  }
}

@container style(--hide-avatar-deco: true) {
  .avatarDecorationContainer__44b0c {
    display: none !important;
  }
}

@container style(--hide-nameplates: true) {
  .container_df39b2 {
    display: none !important;
  }
}

@container style(--hide-profile-effects: true) {
  .profileEffects__0dd08 {
    display: none !important;
  }
}

@container style(--hide-profile-frames: true) {
  .profileFrame__7d80f {
    display: none !important;
  }
}
